<%= render partial: "app_homes/nav" %>

<table class="table">
	<tr>
		<th>Name</th>
		<th>Hometown</th>
		<th>Date of Birth</th>
	</tr>
	<% @artists.each do |artist| %>
		<tr class="story-row">
			<td>
				<%= artist.name %>
			</td>
			<td>
				<%= artist.hometown %>
			</td>
			<td>
				<%= artist.birth %>
			</td>
			<td>
				<%= link_to 'Paintings', artist_path(artist) %>
			</td>
		</tr>
	<% end %>
</table>